html,body{height:100%;color:black;}
a, a:visited {
 color:#00c!important;
 text-decoration: underline;
}
body{
  background-color:white;
  font-family: Verdana, sans-serif;
  height: 16px;
  font-size: 12px;
  font-style:normal;
}

span.tt{
  font-family: monospace;
  background-color:#E0FFBB;
  border: #E0FFBB;
  border-width: 1px 0px;
}
pre,code{
  font-family: monospace;
  background-color:#E0FFBB;
  border: #E0FFBB;
  border-width: 1px 0px;
}

body *{line-height:1.4em;}
table.gallery {
  text-align: center;
}

table.galleryitem, table.galleryitembottom a{
  text-align: center;
  background:#cc9;
}
div.center {
  text-align:center;
}
div.center a {
  font-weight: normal;
}
h1 {
  font-size: 110%;
  font-weight: bold;
  padding: 0em 0em 0em 0em;
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}
.title{
  font-size: 150%;
}
.author{
  font-size: 125%;
}
